<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,600&display=swap" rel="stylesheet">
<title>Denis Novik</title>
<link
  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<link rel="icon" href="./imgs/logo.png" type="image/x-icon">
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/style.css">
<script src="js/wow.min.js"></script>
<script src="js/loadTime.js"></script>
<script src="js/active.js"></script>
<script src="js/fakeAPI.js"></script>

<script>
  new WOW().init();
</script>