<footer>
  <div class="socials">
    <img src="img/telegram.svg" alt="LinkedIn">
    <img src="img/inst1.svg" alt="Instagram">
    <img src="img/vk.svg" alt="Behance">
  </div>
  <p class="little__text">Подписывайтесь на нас в Телеграм, Инстаграм, VK</p>
  <div class="loadTime">
    <p class="loadTime__title">Page load time is:</p>
    <p class="loadTime__title" id="LoadTime">{{serverTime}} ms</p>
  </div>
</footer>