<header>
  <div class="header-wrap">
    <h1 class="title">Студент <p class="title-p2">Форум</p>
    </h1>
    <hr>
    <nav class="header-menu">
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="../index.hbs">Главная</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="../auth.hbs">Мой аккаунт</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="../faq.hbs">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>