<header class="header">
  <div class="wrapper">
    <nav class="header__nav">
      <ul class="header__list">
        <li>
          <a href="../index.hbs" class="header__link">Main page</a>
        </li>
        <!-- <li>
            <a href="#!" class="header__link header__link-last">Price</a>
        </li> -->
      </ul>
    </nav>
  </div>
</header>