<!DOCTYPE html>
<html lang="ru">
<head>
  {{>head}}
  <title>Войти | Студент Форум</title>
</head>
<body>
{{>header}}
<main>
  <div class="intro">
      <div class="intro-text auth-text">
        <div class="intro-main-text auth-main-text">
          Войди в свой аккаунт
        </div>
        <form class="auth-form" action="" method="">
          <input type="text" placeholder="Введите логин">
          <input type="password" placeholder="Введите пароль">
          <button class="auth-button" type="submit">Войти</button>
          <p class="non-account">
            У тебя нет аккаунта? - <a class="auth-a" href="register.hbs">зарегистрируйся!
          </a>
          </p>
        </form>
      </div>
  </div>
</main>
{{>footer serverTime = serverTime}}
</body>
</html>