<!DOCTYPE html>
<html lang="ru">
<head>
  {{>head}}
  <title>FAQ | Студент Форум</title>
</head>
<body>
{{>header}}
<main>
  <div class="faq-intro">
    <img class="faq-photo" src="img/faq.jpg">
    <div class="faq-intro-text">Вопросы и ответы</div>
  </div>
  <div class="faqs">
    <div class="faq-item">
      <h3 class="faq-question">Кто может просматривать мой профиль?</h3>
      <div class="faq-answer">
        Это ваш ответ в разделе «Вопросы и ответы».
        Убедитесь, что он понятен и краток.
        Перечитайте написанное и спросите себя:
        «Если бы это был мой первый визит на сайт,
        был бы этот ответ мне полностью понятен?»
        Если нужно, измените или дополните ответ.
        Добавьте изображение или видеоинструкцию для наглядности.
      </div>

    </div>
    <div class="faq-item">
      <h3 class="faq-question">Требуется ли регистрация, чтобы оставлять комментарии на форуме?</h3>
      <div class="faq-answer">
        Это ваш ответ в разделе «Вопросы и ответы».
        Убедитесь, что он понятен и краток.
        Перечитайте написанное и спросите себя:
        «Если бы это был мой первый визит на сайт,
        был бы этот ответ мне полностью понятен?»
        Если нужно, измените или дополните ответ.
        Добавьте изображение или видеоинструкцию для наглядности.
      </div>
    </div>
    <div class="faq-item">
      <h3 class="faq-question">Как можно сообщить об оскорбительной публикации?</h3>
      <div class="faq-answer">
        Это ваш ответ в разделе «Вопросы и ответы».
        Убедитесь, что он понятен и краток.
        Перечитайте написанное и спросите себя:
        «Если бы это был мой первый визит на сайт,
        был бы этот ответ мне полностью понятен?»
        Если нужно, измените или дополните ответ.
        Добавьте изображение или видеоинструкцию для наглядности.
      </div>
    </div>
  </div>
</main>
{{>footer serverTime = serverTime}}
<script src="js/script.js"></script>
<script src="js/loadTime.js"></script>
</body>
</html>